### Student Activity: Returns Over Date Ranges

This program reads daily stock data from a CSV, trims extraneous columns, converts date strings to datetime objects, sets the datetimes as the index, and calculates and plots returns for specified date ranges.

In [1]:
# Import libraries and dependencies
import pandas as pd
from pathlib import Path

### Read CSV in as DataFrame

In [2]:
# Set the path
file_path = Path('Resources/amd_stock_data.csv')

# Read in the CSV as a DataFrame
amd = pd.read_csv(file_path)
amd.head()

      date  close    volume  open  high   low
0  4/29/09   3.51  11537950  3.40  3.56  3.38
1  4/30/09   3.61  18193730  3.55  3.73  3.53
2   5/1/09   3.82  16233940  3.55  3.90  3.55
3   5/4/09   4.26  21236940  3.90  4.30  3.83
4   5/5/09   4.32  16369170  4.36  4.39  4.11

### View Summary Statistics

In [3]:
# Output summary statistics for csv data
amd.describe()

             close        volume         open         high          low
count  2517.000000  2.517000e+03  2517.000000  2517.000000  2517.000000
mean      7.561573  3.535586e+07     7.564402     7.727118     7.393507
std       5.814291  3.357519e+07     5.816548     5.961393     5.660075
min       1.620000  2.606577e+06     1.620000     1.690000     1.610000
25%       3.610000  1.467149e+07     3.615000     3.680000     3.540000
50%       5.950000  2.372014e+07     5.930000     6.090000     5.790000
75%       9.450000  4.286763e+07     9.450000     9.590000     9.260000
max      32.720000  3.238445e+08    33.180000    34.140000    32.190000

### Drop Extra Columns

In [ ]:
# Drop unnecessary columns
amd.drop

### Set Date as Index

In [ ]:
# Set the date as the index to the DataFrame

### Drop Extra Date Column

In [ ]:
# Drop the extra date column

### Calculate Daily Returns

In [ ]:
# Calculate the daily return over the last 10 years

### Use Indexing to Create Date Ranges

In [ ]:
# Slice DataFrame into 1 year timeframe


# Slice DataFrame into 3 year timeframe


# Slice DataFrame into 5 year timeframe


# Slice DataFrame into 10 year timeframe

### Output Summary Statistics for 1 Year of Daily Returns

In [ ]:
# Display summary statistics for 1 year of AMD stock data

### Output Summary Statistics for 3 Years of Daily Returns

In [ ]:
# Display summary statistics for 3 years of AMD stock data

### Output Summary Statistics for 5 Years of Daily Returns

In [ ]:
# Display summary statistics for 5 years of AMD stock data

### Output Summary Statistics for 10 Years of Daily Returns

In [ ]:
# Display summary statistics for 10 years of AMD stock data

### Plot 1 Year of Daily Returns

In [ ]:
# Display chart of 1 year's worth of daily AMD returns

### Plot 3 Years of Daily Returns

In [ ]:
# Display chart of 3 year's worth of daily AMD returns

### Plot 5 Years of Daily Returns

In [ ]:
# Display chart of 5 year's worth of daily AMD returns

### Plot 10 Years of Daily Returns

In [ ]:
# Display chart of 10 year's worth of daily AMD returns

### Analyze Daily Returns over Date Ranges

1. What are the average daily returns over each date range?

    * 1 Year = 
    * 3 Year = 
    * 5 Year = 
    * 10 Year = 
    
    
2. What insights could this provide in regards to wanting to trade AMD stock in the long-term vs. short-term?